
<table class="footer">
  <tr>
  	<td>Etik GmbH</td>
  	<td>Tel. 07471 984 47-0</td>
  	<td></td>
  	<td>AGB</td>
  </tr>
  <tr>
  	<td>Schloßstraße 21</td>
  	<td>Fax 07471 984 47-20</td>
  	<td>Kunststofffenster</td>
  	<td>Kontakt</td>
  </tr>
  <tr>
  	<td>72379 Hechingen	</td>
  	<td>info@etik-gmbh.de</td>
  	<td>Eingangstüren</td>
  	<td>Referenzen</td>
  </tr>
  <tr>
  	<td></td>
  	<td>www.etik-gmbh.de</td>
  	<td>Beschattungstechnik</td>
  	<td></td>
  </tr>
</table>
